
/* Basic Card Structure */
.card {
    position: relative;
    width: calc(100% - 15px);
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 20px;
}

/* Card Header */
.card-header {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    background-color: #f8f9fa;
}

/* Card Title */
.card-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

/* Card Body */
.card-body {
    padding: 1.25rem;
}

/* Card Text */
.card-text {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #6c757d;
}

/* Card Footer */
.card-footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
    background-color: #f8f9fa;
}


/* Breadcrumb */
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
}

.breadcrumb-item {
    font-size: 0.875rem; /* Adjust font size */
    color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "/";
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d; /* Separator color */
}

.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

.breadcrumb-item a:hover {
    color: #0056b3;
}

.breadcrumb-item.active {
    color: #6c757d;
}



.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    justify-content: center; /* Center the pagination */
}

.pagination li {
    margin: 0 5px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #007bff;
    cursor: pointer;
    user-select: none; /* Disable text selection */
    transition: background-color 0.3s, color 0.3s;
}

.pagination li.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}
.pagination li.active a{
    color: white;
}

.pagination li:hover:not(.active) {
    background-color: #f0f0f0;
}

.pagination li:active {
    background-color: #007bff;
    color: white;
}

.pagination li.disabled {
    color: #999;
    cursor: not-allowed;
}

.pagination li.disabled:hover {
    background-color: transparent;
}